params.singularity_dir = "${projectDir}/singularity-images"
params.chros = "1,2"
params.vep_config = "${projectDir}/nf_config/vep.ini"

profiles {
  standard {
    process.executor = 'local'
    process.memory = '5GB'
    process.cpus = 1
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  sanger {
    includeConfig './nf_config/lsf.conf'
    includeConfig './nf_config/lsf_tasks.conf'
  } 
}


